In [1]:
import pandas as pd
import numpy as np

In [2]:
csv_path = "Resources/city_data.csv"

In [4]:
city_data_df = pd.read_csv(csv_path)

In [18]:
df = city_data_df.drop(columns=['Unnamed: 0'])
df.head()

,City,Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed
0,Cidreira,-30.17,-50.22,61.28,69,100,8.52
1,Colares,38.80,-9.45,66.60,82,20,16.11
2,Cherskiy,68.75,161.30,31.40,95,96,6.20
3,Orotukan,62.26,151.67,27.44,54,24,2.21
4,Punta Arenas,-53.16,-70.91,58.26,41,0,20.80

In [19]:
df.to_html('WeatherPy.html')